<h1>ようこそ&nbsp<span>Bookers</span>&nbspへ！</h1>
<p><span>Bookers</span>&nbspでは、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができます</p>
  <p>
    <a href="/books">start</a>
  </p>
  <!--font-weight: bold 太字
  strong 見出しには使わない
  &nbsp　HTMLに半角スペースを入れる-->